@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

.navbarheading {
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.navbarlinks {
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding-left: 10px;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
}

.footerHeader {
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding-left: 10px;
    margin: 0px;
    padding: 2px;
    font-size: 16px;
    font-weight: 600;
}

.footerCredits {
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 12px;
    font-weight: 600;
}

.verifyTitle {
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 28px;
    font-weight: 700;
}

.verifyBody {
    color: white;
    font-family: 'Barlow', sans-serif;
    text-align: justify;
    padding-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 14px;
    font-weight: 600;
}

.button {
    background-color: #8E08F5;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    border-radius: 40px;
}

.recentDiv {
    background-color: #8E08F5;
}

.certificateName {
    color: #250f82;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.certificateAddress {
    color: #250f82;
    font-family: 'Barlow', sans-serif;
    font-size: 9px;
    font-weight: 600;
}